<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="file" type="log4net.Appender.FileAppender, log4net">
      <param name="File" value="Mix.log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%-5p %d %c.%M: %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="file" />
    </root>
    <!-- Make sure ALWAYS ALL errors are logged, so don't use OFF as level -->
    <logger name="Mix">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>
