<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <converter>
          <name value="folder" />
          <type value="Mix.Util.log4net.SpecialFolderPatternConverter, Mix.Util.log4net" />
        </converter>
        <!-- '%folder{LocalApplicationData}' will be expanded to something like
           'C:\Documents and Settings\(username)\Local Settings\Application Data' -->
        <conversionPattern value="%folder{LocalApplicationData}\Mix\Mix.log.txt" />
      </file>
      <appendToFile value="false" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%-5p %c %M - %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="file" />
    </root>
    <!-- Make sure ALWAYS ALL errors are logged, so don't use OFF as level -->
    <logger name="Mix">
      <level value="DEBUG" />
    </logger>
  </log4net>
</configuration>
